<%= render 'layouts/slider' %>

<div class="container">
  <div class="row">
    <div id="baskan" class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("boss.jpg", class: "img-fluid rounded", alt: "baskan", id: "boss") %>

        <div id="name" class="caption">
          <%= t('boss') %> <br> <%= t('boss_name') %>
        </div>
      </div>
    </div>

    <div id="merhaba" class="col-sm-8">
      <p><%= t('merhaba') %></p>
      <p><%= t('merhaba_text') %></p>
      <p><%= t('byebye') %></p>
    </div>
  </div>
</div>
