<!--Footer-->
<br>
<div id="footer3" class="container-fluid">
  <br>
  <div id="footer4" class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a href='http://www.fatsa.gov.tr/' target="_blank" , alt="fatsagov">
          <%= image_tag("icon/1.png", size: "100") %>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a href='http://www.fatsa.bel.tr/' target="_blank" , alt="fatsagov">
          <%= image_tag("icon/2.png", size: "100") %>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a href='http://www.ordu.bel.tr/' target="_blank" , alt="fatsagov">
          <%= image_tag("icon/3.png", size: "100") %>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a href='http://www.ordu.gov.tr/' target="_blank" , alt="fatsagov">
          <%= image_tag("icon/4.png", size: "100") %>
        </a>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>

<div id="footer" class="container-fluid">
  <div id="footer2" class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <p>
          <a href="tel:+905384715252" id="telefon" class="sog"><i class="fas fa-phone" aria-hidden="true"></i><%= t('footer.phone') %>
          </a></p>

        <p>
          <a href="mailto:aslancami@aslancamikoyudernegi.com.tr" id="email"><i class="fas fa-envelope" aria-hidden="true"></i><%= t('footer.email') %>
          </a></p>

        <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i><%= t('footer.address') %></p>
        <br>
      </div>

      <div id="p" class="col-sm-6 col-md-6">
        <a href='https://www.facebook.com/groups/961187180582440/?fref=nf' target="_blank" , alt="f">
          <%= image_tag("soz/f.png") %>
        </a>
        <a href='https://www.twitter.com' target="_blank" , alt="t">
          <%= image_tag("soz/t.png") %>
        </a>
        <a href='https://www.youtube.com' target="_blank" , alt="u">
          <%= image_tag("soz/u.png") %>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="avtor" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><a href="mailto:ovin999@gmail.com"><%= t('footer.made_by') %></a></p>
      </div>
    </div>
  </div>
</div>

