<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="container-fluid">
    <div class="row">
      <div id="slider" class="col-sm-12">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <%= image_tag("slider/1111.jpg", alt: "", style: "width:100%") %>
          </div>

          <div class="carousel-item">
            <%= image_tag("slider/2222.jpg", alt: "", style: "width:100%") %>
          </div>

          <div class="carousel-item">
            <%= image_tag("slider/3333.jpg", alt: "", style: "width:100%") %>
          </div>

          <div class="carousel-item">
            <%= image_tag("slider/4444.jpg", alt: "", style: "width:100%") %>
          </div>

          <div class="carousel-item">
            <%= image_tag("slider/5555.jpg", alt: "", style: "width:100%") %>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
<!--Slider end-->
