<!DOCTYPE html>
<html lang="tr">
  <head>
    <title><%= yield(:title) %> | Aslancamikoyudernegi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'fav/fav.ico' %>
    <%= favicon_link_tag 'fav/fav.ico', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= render 'layouts/favicon' %>

  </head>

  <body>
  <%= render 'layouts/navigation' %>


  <%= render 'layouts/logo' %>


  <%= yield %>

  <%= render 'layouts/footer' %>
  </body>
</html>
